flows.json
[{"id":"3e7ed630.9011aa","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"2fd9f4b6.a4634c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d2632a5c.477b48","type":"ui_base","z":"","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#00cc18","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#00cc18","edited":true},"page-titlebar-backgroundColor":{"value":"#00cc18","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1aff35","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#00cc18","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c5398a29.c39f88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c3650b44.c486e8","type":"ui_group","z":"","name":"Default","tab":"c5398a29.c39f88","order":1,"disp":true,"width":"6","collapse":false},{"id":"18a3c0aa.02257f","type":"function","z":"2fd9f4b6.a4634c","name":"PreToken","func":"global.set(\"cmt\",msg.payload.cmt)\nglobal.set(\"bfs\",msg.payload.bfd)\nglobal.set(\"fah\",msg.payload.fah)\nglobal.set(\"wtr\",msg.payload.wtr)\nglobal.set(\"sup\",msg.payload.sup)\nglobal.set(\"coa\",msg.payload.coa)\nglobal.set(\"fag\",msg.payload.fag)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"4hUnttflT4fXLcwYjcjjxaHFuX4YX2uuGVg8FAtfrX5b\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":540,"wires":[["13374449.87a08c"]]},{"id":"13374449.87a08c","type":"http request","z":"2fd9f4b6.a4634c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":460,"wires":[["5c5b2d15.956dd4","5143353a.f247bc"]]},{"id":"6f7c2f6a.5060a","type":"debug","z":"2fd9f4b6.a4634c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"5c5b2d15.956dd4","type":"function","z":"2fd9f4b6.a4634c","name":"Pre Prediction","func":"var cmt = global.get('cmt')\nvar bfs = global.get('bfs')\nvar fah = global.get('fah')\nvar wtr = global.get('wtr')\nvar sup = global.get('sup')\nvar coa = global.get('coa')\nvar fag = global.get('fag')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"2ea86c5a-db00-4356-886b-0bfed7182b7c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"],\"values\":[[cmt,bfs,fah,wtr,sup,coa,fag,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["522e4ac2.c07424"]]},{"id":"522e4ac2.c07424","type":"http request","z":"2fd9f4b6.a4634c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/3cab2b5a-f0ff-4050-a4f1-88a17d4a387e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":220,"wires":[["6f7c2f6a.5060a","661791af.fa41e"]]},{"id":"661791af.fa41e","type":"function","z":"2fd9f4b6.a4634c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":220,"wires":[["6f7c2f6a.5060a","aa7507c7.68a298"]]},{"id":"5143353a.f247bc","type":"debug","z":"2fd9f4b6.a4634c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":460,"wires":[]},{"id":"aa7507c7.68a298","type":"ui_text","z":"2fd9f4b6.a4634c","group":"c3650b44.c486e8","order":2,"width":0,"height":0,"name":"","label":"Compressive Strength","format":"{{msg.payload}}","layout":"row-left","x":900,"y":380,"wires":[]},{"id":"1bd2e22c.3332be","type":"ui_form","z":"2fd9f4b6.a4634c","name":"","label":"","group":"c3650b44.c486e8","order":1,"width":0,"height":0,"options":[{"label":"Cement","value":"cmt","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fah","type":"number","required":true,"rows":null},{"label":"Water","value":"wtr","type":"number","required":true,"rows":null},{"label":"Superplasticizer","value":"sup","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate ","value":"coa","type":"number","required":true,"rows":null},{"label":"Fine Aggregate ","value":"fag","type":"number","required":true,"rows":null},{"label":"Age (day)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"cmt":"","bfs":"","fah":"","wtr":"","sup":"","coa":"","fag":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":620,"wires":[["18a3c0aa.02257f"]]}]